<div class="row" style="margin-bottom:1%;margin-top: -1%;">
    <div class="col-9"></div>
    <div class="col-3">
        <div class="row"><p></p></div>
        <button nbButton status="info" size="large" (click)='AddEmployee()'>
            Nouvel Employé
        </button>
    </div>
</div>
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Username</th>
            <th>Photo De Profil</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Employee of Employees">
            <td>{{Employee.firstName}}</td>
            <td>{{Employee.lastName}}</td>
            <td>{{Employee.email}}</td>
            <td>{{Employee.userName}}</td>
            <td><img [src]="Employee.profilePicture"  style="border-radius: 50%;height: 40;width: 60px;"></td>
            <td>{{Employee.role}}</td>
            <td>
                <button type='button' class='btn btn-danger' (click)="Delete(Employee.userName)">
                    Supprimer</button>
                <button type='button' class='btn btn-success' (click)="Edit(Employee.userName)">
                Editer</button>
            </td>
        </tr>
    </tbody>
</table>
