<!-- <div class="row">
    <div class="col-10">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-3">
                        <p>hellodefazearzaeaeza</p>
                        <input nbInput type="text" id="myInput" autocomplete="off" (keyup)="Search()" placeholder="Recherche de l'éleve"[(ngModel)]="search.elevesearch">
                    </div>
                    <div class="col-3">
                        <P>hi</P>
                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-3">
                        <P></P>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-5">
                        
                    </div>
                    <div class="col-2">
                        <P></P>
                    </div>
                    <div class="col-5">
                        
                    </div>
                    <div class="col-2">
                        <P></P>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-5">
                        
                    </div>
                    <div class="col-2">
                        <P></P>
                    </div>
                    <div class="col-5">
                        
                    </div>
                    <div class="col-2">
                        <P></P>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-5">
                        
                    </div>
                    <div class="col-2">
                        <P></P>
                    </div>
                    <div class="col-5">
                        
                    </div>
                    <div class="col-2">
                        <div><p></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <button nbButton status="info" size="large" (click)='AddEleve()'>
            Nouvel Eleve
        </button>
    </div>
</div> -->
<div class="row">
    <div class="col-10">
    <tr>
        <td>
            <input nbInput  type="text" id="myInput" autocomplete="off" (keyup)="Search()" placeholder="Recherche de l'éleve"[(ngModel)]="search.elevesearch">
            <nb-select  name="groupes"  placeholder="Groupe" id="select-groupe" [(ngModel)]=search.groupeid>
                <nb-option [value]=null (click)="Search()">Tout</nb-option>
                <nb-option *ngFor="let Groupe of Groupes" [value]="Groupe.id" (click)="Search()">{{Groupe.name}}</nb-option>
            </nb-select>
        </td>
        <td>
            <input nbInput  type="text" id="myInput" autocomplete="off" (keyup)="CheckParentSearch()" placeholder="Recherche avec parent"[(ngModel)]="search.parentsearch">
            <nb-select  name="clubs"  placeholder="Club" id="select-club" [(ngModel)]=search.clubid>
                <nb-option [value]=null (click)="Search()">Tout</nb-option>
                <nb-option *ngFor="let Club of Clubs" [value]="Club.id" (click)="Search()">{{Club.name}}</nb-option>
            </nb-select>
        </td>
        <td>
            <nb-select   name="sexes" placeholder="Sexe" id="select-sexe" [(ngModel)]="search.sexe">
                <nb-option [value]=null (click)=Search()>Tous</nb-option>
                <nb-option value="M" (click)="Search()">M</nb-option>
                <nb-option value="F" (click)="Search()">F</nb-option>
            </nb-select>
            <div class="custom-control custom-checkbox checkbox-lg">
                
                <input type="checkbox" [(ngModel)]=search.hasconvention class="custom-control-input" id="checkbox-2" (change)="Search()">
                <label class="label custom-control-label" for="checkbox-2">Avec convention</label>
            </div>
        
    
        </td>
        <td>
            <nb-select   name="classes" placeholder="Classe" id="select-classe" [(ngModel)]="search.classeid" (ngModelChange)="SearchGroupe()">
                <nb-option [value]=null (click)=Search()>Toutes</nb-option>
                <nb-option *ngFor="let Classe of Classes" [value]="Classe.id" (click)="Search()">{{Classe.name}}</nb-option>
            </nb-select>
            <nb-select  name="conventions"  placeholder="Convention" id="select-convention" [(ngModel)]=search.conventionid>
                <nb-option [value]=null (click)="Search()">Annuler</nb-option>
                <nb-option *ngFor="let Convention of Conventions" [value]="Convention.id" (click)="Search()">{{Convention.name}}</nb-option>
            </nb-select>
        </td>
    </tr>
    </div>
    <div class="col-2">
        <div class="row"><p></p></div>
        <button nbButton rows=2 status="info" size="large" (click)='AddEleve()'>
            Nouvel Eleve
        </button>
    </div>
</div>
<div class="row"><p></p></div>
<!-- <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" (click)="Collapse()" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
</div> -->
<table class="table table-striped">
    <thead class="thead-dark" >
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date De Naissance</th>
            <th>Club</th>
            <th>Groupe</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="width:50%">
        <tr *ngFor="let Eleve of Eleves">
            <td>{{Eleve.nom}}</td>
            <td>{{Eleve.prenom}}</td>
            <td>{{Eleve.dateDeNaissance}}</td>
            <td>{{Eleve.adresse}}</td>
            <td>{{Eleve.sexe}}</td>
            <td class="row">
                <button type='button' class='btn btn-danger' (click)="Delete(Eleve.id)">
                    Supprimer</button>
                <button type='button' class='btn btn-success' (click)="Edit(Eleve.id)">
                Fiche</button>
            </td>
        </tr>
    </tbody>
</table>