    
  table{
    table-layout:fixed;
  }
  
  .checkbox-lg .custom-control-label::before, 
  .checkbox-lg .custom-control-label::after {
    margin-top: 0px;  
    top: .5rem;
    width: 1.55rem;
    height: 1.55rem;
  }
  
  .checkbox-lg .custom-control-label {
    font-size:19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 12px;
    padding-left: 6px;
  }