<div *ngIf="Groupes.length>0">
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>Nom</th>
                <th>Date De Début</th>
                <th>Date De Fin</th>
                <th>Classe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Groupe of Groupes">
                <td>{{Groupe.name}}</td>
                <td>{{Groupe.dateDeDebut}}</td>
                <td>{{Groupe.dateDeFin}}</td>
                <div *ngIf="Groupe.classeId!=null">
                    <td>{{Groupe.classe.name}}</td>
                </div>
                <div *ngIf="Groupe.classeId==null">
                    <td></td>
                </div>
                <td>
                    <button type='button' class='btn btn-danger' (click)="DeleteEleveGroupe(Groupe.id)">
                    Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-3">
        <input type="text" id="myInput" autocomplete="off" (keyup)="Search()" placeholder="Recherche Du Groupe"[(ngModel)]="search.enrollementsearch">
            <ul id="myUL">
                <div *ngFor="let result of searchresult">
                    <li><button (click)="AddEleveGroupe(result.id,result.name)" >{{result.name}}</button></li>
                </div>
            </ul>
    </div>
    <div class="col-1">
            <nb-select name="year" shape="round" appearance="filled"  placeholder="année" id="select-year"  [(ngModel)]="SelectedYear.CurrentYear">
                <nb-option *ngFor="let Year of Years" [value]="Year.debut+'-'+Year.fin" (click)=Search()>{{Year.debut}}-{{Year.fin}}</nb-option>
            </nb-select>
    </div>
    <div class="col-2"><p></p></div>
    <div class="col-1">
            <nb-select name="classe" shape="round" appearance="filled" placeholder="Classe" id="select-classe" [(ngModel)]="search.classeid">
                <nb-option [value]=null (click)=Search()>Toutes les classes</nb-option>
                <nb-option *ngFor="let Classe of Classes" [value]=Classe.id (click)=Search()>{{Classe.name}}</nb-option>
            </nb-select>
    </div>
    <div class="col-2"><p></p></div>
    <div class="col-3">
        <button nbButton status="secondary" size="large" (click)='SubmitEleveGroupe()'>
            Valider
        </button>
    </div>
</div>