button.plus{
    font-size: 30px;
    text-align: center;
    width:45px;
    height:60px;
    font-size: 45px;
}
  .selectoption{
    width: 75%;
    height: 50px;
    border:1px solid  #0ebeff;
    text-align: center;
    font-size: 18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .inner div.collapsing{
    height:auto;
    overflow: hidden;
    
  }
label.methods{
  background-color: whitesmoke;
}
label.methods:hover{
  color: blue;
  background-color: lavender;
}
div.payementenrollement{
  background-color:  rgb(226, 228, 247);
}
div.row.payementdates{
  background-color:  rgb(248, 248, 248);
}
