<form #form="ngForm" aria-labelledby="title">
  <div class="form-control-group" style="margin-left: 1%;text-align: center;">
    <label for="input-receiptnumber" class="label ">Numéro de reçu:</label>
    <br>
    <input nbInput style="height: 50px;" [(ngModel)]="payement.receiptnumber" #receiptnumber="ngModel"
      id="input-receiptnumber" name="receiptnumber" required>
  </div>
  <button id="method" style="display:none 0px;visibility: hidden;" type="button" (click)="CollapseMethode()">
  </button>
  <!-- Titre Methodes -->
  <div class="card" style="margin-left: 1%;margin-right: 3%;">
    <label class="methods card-header row" for="method">
      <label for="method" class="col-10" style="font-size: x-large;margin-top: 10px;">Méthodes</label>
      <label for="method"><span [class]="chevrondirection[0]"
          style="font-size: 30px;color: blue;margin-top: 6px"></span><span class="caret"></span></label>
    </label>
  </div>
  <!-- Liste Methodes de paiement -->
  <div class="inner">
    <div [@collapse]="state[0]" class="collapsing" style="margin-left: 2%;">
      <div *ngFor="let n of payement.modalitemodels;let i = index">
        <br>
        <div class="row form-control-group">
          <div class="col-2">
            <label class="label" for="input-payementmethod">Méthode:</label>
            <br>
            <select class="selectoption" fullWidth [(ngModel)]="payement.modalitemodels[i].method" required
              [name]="'method '+i">
              <option value="Espece">Espèce</option>
              <option value="Cheque">Chéque</option>
            </select>
          </div>
          <div class="col-2">
            <label class="label" for="input-amount">Montant:</label>
            <br>
            <input nbInput style="height: 50px;" [(ngModel)]="payement.modalitemodels[i].amount" #montant="ngModel"
              id="input-amount" [name]="'montant '+i" fullWidth required>
          </div>
          <div class="col-3 form-control-group" *ngIf="payement.modalitemodels[i].method=='Cheque'">
            <label class="label">Banque:</label>
            <br>
            <input nbInput style="height: 50px;" [(ngModel)]="payement.modalitemodels[i].bank" #bank="ngModel"
              [name]="'bank '+i" fullWidth required>
          </div>
          <div class="col-3" *ngIf="payement.modalitemodels[i].method=='Cheque'">
            <label class="label">N° de chèque:</label>
            <br>
            <input nbInput style="height: 50px;" [(ngModel)]="payement.modalitemodels[i].checknumber"
              #checknumber="ngModel" [name]="'checknumber '+i" fullWidth required>
          </div>
          <div class="col-1">
            <div *ngIf="payement.modalitemodels.length>1">
              <button style="margin-top: 27px;" type="button" (click)="DeleteMethod(i)" class="btn">
                <span class="fa fa-times-circle " style="font-size: 30px;color: red;"></span><span class="caret"></span>
              </button>
            </div>
            <div *ngIf="payement.modalitemodels.length==1 && payement.modalitemodels[i].method!=null">
              <button style="margin-top: 29px;" type="button" (click)="AddMethodForm()" class="btn">
                <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
              </button>
            </div>
          </div>
          <div class="col-1"
            *ngIf="i==payement.modalitemodels.length-1 && payement.modalitemodels.length!=1 && payement.modalitemodels[i].method!=null">
            <button style="margin-top: 29px;" type="button" (click)="AddMethodForm()" class="btn">
              <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button id="rubrique" style="display:none 0px;visibility: hidden;" type="button" (click)="CollapseRubrique()">
  </button>
  <div class="card" style="margin-left: 1%;margin-right: 3%;">
    <label class="methods card-header row" for="rubrique">
      <label for="rubrique" class="col-10" style="font-size: x-large;margin-top: 10px;">Rubriques</label>
      <label for="rubrique"><span [class]="chevrondirection[1]"
          style="font-size: 30px;color: blue;margin-top: 6px"></span><span class="caret"></span>
      </label>
    </label>
  </div>
  <div class="inner">
    <div [@collapse]="state[1]" class="collapsing" style="margin-left: 2%;">
      <app-payementenrollements [eleveids]="eleveids" (SendPayementEnrollements)="GetPayementEnrollement($event)" [getpayementenrollements]="getpayementenrollements"></app-payementenrollements>
      <!-- <div  *ngFor="let n of payement.payementenrollementmodels;let i = index">
        <br>
        <div class="row payementenrollement">
          <div class="col-3 form-control-group">
            <label class="label" for="input-section">Rubrique:</label>
            <br>
            <select class="selectoption" (change)="GetExpected(i)"
              [(ngModel)]="payement.payementenrollementmodels[i].section" [name]="'rubrique '+i" required>
              <option *ngFor="let section of sections" [value]="section.value">{{section.value}}</option>
            </select>
            <br>
          </div>
          <div class="col-9 form-control-group">
            <div *ngIf="!payement.payementenrollementmodels[i].section">
              <div class="row">
                <div class="col-1">
                  <div *ngIf="payement.payementenrollementmodels.length>1">
                    <button style="margin-top: 27px;" type="button" (click)="DeletePayementEnrollement(i)" class="btn">
                      <span class="fa fa-times-circle " style="font-size: 30px;color: red;"></span><span
                        class="caret"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="payement.payementenrollementmodels[i].section==='Frais d\'inscription'">
              <div class="row">
                <div class="col-3">
                  <label class="label">Montant:</label>
                  <br>
                  <input nbInput required style="height: 50px;" [(ngModel)]="payement.payementenrollementmodels[i].paid"
                    disabled #paid="ngModel" [name]="'paid '+i" fullWidth>
                </div>
                <div class="col-1">
                  <div *ngIf="payement.payementenrollementmodels.length>1">
                    <button style="margin-top: 27px;" type="button" (click)="DeletePayementEnrollement(i)" class="btn">
                      <span class="fa fa-times-circle " style="font-size: 30px;color: red;"></span><span
                        class="caret"></span>
                    </button>
                  </div>
                  <div *ngIf="payement.payementenrollementmodels.length==1">
                    <button style="margin-top: 29px;" type="button" (click)="AddPayementEnrollementForm()" class="btn">
                      <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
                    </button>
                  </div>
                </div>
                <div class="col-1"
                  *ngIf="i==payement.payementenrollementmodels.length-1 && payement.payementenrollementmodels.length!=1">
                  <button style="margin-top: 29px;" type="button" (click)="AddPayementEnrollementForm()" class="btn">
                    <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
                  </button>
                </div>
                <div class="col-8"></div>
              </div>
            </div>
            <div
              *ngIf="payement.payementenrollementmodels[i].section!='Frais d\'inscription' && payement.payementenrollementmodels[i].section!=null">
              <div class="row">
                <div class="col-2">
                  <label class="label" for="input-enrollementpaid">Payé:</label>
                  <br>
                  <input nbInput style="height: 50px;" required [(ngModel)]="payement.payementenrollementmodels[i].paid"
                    #enrollementpaid="ngModel" [name]="'enrollementpaid '+i" fullWidth>
                </div>
                <div class="col-3">
                  <div *ngIf="payement.payementenrollementmodels[i].section=='Scolarité'">
                    <label class="label" for="input-convention">Convention:</label>
                    <br>
                  </div>
                  <div *ngIf="payement.payementenrollementmodels[i].section!='Scolarité'">
                    <label class="label">Club:</label>
                    <br>
                    <select class="selectoption" fullWidth
                      [(ngModel)]="payement.payementenrollementmodels[i].eleveenrollementid" required
                      [name]="'enrollementid '+i">
                      <option *ngFor="let e of clubs" [value]="e.id">{{</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <label class="label" for="input-comment">Commentaire:</label>
                <br>
                <input nbInput style="height: 50px;" [(ngModel)]="payement.payementenrollementmodels[i].comment" #comment="ngModel" [name]="'comment '+i" fullWidth>
              </div>
              <div class="col-1">
                <div *ngIf="payement.payementenrollementmodels.length>1">
                <button style="margin-top: 27px;" type="button" (click)="DeletePayementEnrollement(i)" class="btn">
                    <span class="fa fa-times-circle " style="font-size: 30px;color: red;"></span><span class="caret"></span>
                </button>
              </div>
              <div *ngIf="payement.payementenrollementmodels.length==1">
                  <button style="margin-top: 29px;" type="button" (click)="AddPayementEnrollementForm()" class="btn">
                      <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
                  </button>
              </div>
              </div>
              <div class="col-2" *ngIf="i==payement.payementenrollementmodels.length-1 && payement.payementenrollementmodels.length!=1">
                <button style="margin-top: 29px;" type="button" (click)="AddPayementEnrollementForm()" class="btn">
                    <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row payementenrollement"><p></p></div>
      <div *ngIf="payement.payementenrollementmodels[i].section!='Frais d\'inscription' && payement.payementenrollementmodels[i].section!=null">
        <div class="row payementdates " *ngFor="let d of payement.payementenrollementmodels[i].payementdatesmodels;let j = index">
                  <div class="col-2 form-control-group">
            <label class="label" for="input-annee">Année:</label>
            <br>
            <select  fullWidth class="selectoption" (change)="ChangeMonths(i,j)" [(ngModel)]="payement.payementenrollementmodels[i].payementdatesmodels[j].year" [name]="'annee '+i+' '+j">
              <option *ngFor="let y of scholaryears" [value]="y">{{y}}</option>
                    </select>
                  </div>
                  <div class="col-2 form-control-group">
                    <label class="label" for="input-mois">Mois:</label>
                    <br>
                    <select fullWidth class="selectoption" (change)="ChangeDates(i,j)" [(ngModel)]="
            payement.payementenrollementmodels[i].payementdatesmodels[j].month" [name]="'mois '+i+' '+j">
                      <option
                        *ngFor="let m of payement.payementenrollementmodels[i].payementdatesmodels[j].ListOfMonths"
                        [value]="m.month">{{m.month}}</option>
                    </select>
                  </div>
                  <div class="col-3 form-control-group">
                    <label class="label" for="input-datededebut">Date de début:</label>
                    <br>
                    <input nbInput fullWidth type="date" required
                      [(ngModel)]="payement.payementenrollementmodels[i].payementdatesmodels[j].datededebut"
                      #start="ngModel" [name]="'start '+i+' '+j" id="input-start">
                  </div>
                  <div class="col-3 form-control-group">
                    <label class="label" for="input-datedefin">Date de fin:</label>
                    <br>
                    <input nbInput fullWidth type="date" required
                      [(ngModel)]="payement.payementenrollementmodels[i].payementdatesmodels[j].datedefin"
                      #end="ngModel" [name]="'end '+i+' '+j" id="input-end">
                  </div>
                  <div class="col-1">
                    <div *ngIf="payement.payementenrollementmodels[i].payementdatesmodels.length>1">
                      <button style="margin-top: 27px;" type="button" (click)="DeletePayementDates(i,j)" class="btn">
                        <span class="fa fa-times-circle " style="font-size: 30px;color: red;"></span><span
                          class="caret"></span>
                      </button>
                    </div>
                    <div *ngIf="payement.payementenrollementmodels[i].payementdatesmodels.length==1">
                      <button style="margin-top: 29px;" type="button" (click)="AddPayementDatesForm(i)" class="btn">
                        <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-1"
                    *ngIf="j==payement.payementenrollementmodels[i].payementdatesmodels.length-1 && payement.payementenrollementmodels[i].payementdatesmodels.length!=1">
                    <button style="margin-top: 29px;" type="button" (click)="AddPayementDatesForm(i)" class="btn">
                      <span class="fa fa-plus" style="font-size: 30px;color: blue;"></span><span class="caret"></span>
                    </button>
                  </div>
                </div>
              </div>
            
      </div> -->
    </div>
  </div>
</form>
<br>
<!-- Bouton valider -->
<div class="row">
  <div class="col-6">
    <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid" (click)='AddPayement()'>
      Valider
    </button>
  </div>
  <div class="col-6">
    <button nbButton fullWidth status="danger" size="large" (click)='CancelAddPayement()'>
      Annuler
    </button>
  </div>
</div>
<ng-template #dialog let-data let-ref="dialogRef">
  <app-payement-recap [payement]="data" (close)="close()"></app-payement-recap>

</ng-template>
<!-- <button type="button" (click)="CollapseMethod()" class="btn btn-danger p-2 m-2">Test</button> -->