<form (ngSubmit)="RegisterEleve()" #form="ngForm" aria-labelledby="title">
    <div class='row'>
        <div class="col-6" >
                <label class="label" for="input-prenom">Prénom:</label>
                <input nbInput
                [(ngModel)]="eleve.prenom"
                #prenom="ngModel"
                id="input-prenom"
                required
                name="prenom" placeholder="Prénom" autofocus fullWidth fieldSize="large">
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-nom">Nom:</label>
                <input nbInput [(ngModel)]="eleve.nom" id="input-nom"
                    name="nom" placeholder="Nom" autofocus fullWidth fieldSize="large">
            </div>
        </div>
    </div>
    <div class='row'>
        <p></p>
    </div>
        <div class='row'>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-datedenaissance">Date De Naissance:</label>
                <input nbInput [(ngModel)]="eleve.datedenaissance" #adresse="ngModel" id="input-datedenaissance"
                    name="datedenaissance" placeholder="Date De Naissance" fullWidth fieldSize="large" required>
            </div>
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-lieudenaissance">Lieu De Naissance:</label>
                <input nbInput [(ngModel)]="eleve.lieudenaissance" #email="ngModel" id="input-lieudenaissance" name="lieudenaissance"
                    placeholder="Lieu De Naissance" fullWidth fieldSize="large">
            </div>
        </div>
    </div>
    <div class='row'>
        <p></p>
    </div>
    <div class='row'>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-adresse">Adresse:</label>
                <input nbInput [(ngModel)]="eleve.adresse" #email="ngModel" id="input-adresse" name="adresse"
                        placeholder="Adresse" fullWidth fieldSize="large">
            </div>
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="select-sexe">Sexe:</label><br>
                <nb-select name="sexes" placeholder="Choose an option" id="select-sexe"
                    [(ngModel)]="eleve.sexe" required>    
                    <nb-option value="M">M</nb-option>
                    <nb-option value="F">F</nb-option>
                </nb-select>
            </div>
        </div>
    </div>
</form>
<div class="row"><p></p></div>
<button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted" (click)='RegisterEleve()'>
    Add Eleve
</button>        