    <form (ngSubmit)="AddEmployee()" #form="ngForm" aria-labelledby="title">
        <div class='row'>
            <div class="col-6" >
                    <label class="label" for="input-firstname">Prénom:</label>
                    <input nbInput
                    [(ngModel)]="user.firstname"
                    #firstname="ngModel"
                    id="input-firstname"
                    required
                    name="firstname" autofocus fullWidth fieldSize="large" required>
            </div>
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label" for="input-lastname">Nom:</label>
                    <input nbInput [(ngModel)]="user.lastname" id="input-lastname"
                        name="lasttname" autofocus fullWidth fieldSize="large" required>
                </div>
            </div>
        </div>
        <div class='row'>
            <p></p>
        </div>
        <div class='row'>
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label" for="input-username">Username:</label>
                    <input nbInput [(ngModel)]="user.username" #username="ngModel" id="input-username"
                        name="username" fullWidth fieldSize="large" required>
                </div>
            </div>
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label" for="input-email">Addresse Email:</label>
                    <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email"
                        fullWidth fieldSize="large">
                </div>
            </div>
        </div>
        <div class='row'>
            <p></p>
        </div>
        <div class='row'>
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label" for="input-password">Mot de passe:</label>
                    <input nbInput [(ngModel)]="user.password" #password="ngModel" type="password"
                        id="input-password" name="password" fullWidth fieldSize="large" required>
                        
                </div>
            </div>
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label" for="input-re-password">Répéter mot de passe:</label>
                    <input nbInput [(ngModel)]="confirmPassword" #rePass="ngModel" type="password"
                        id="input-re-password" name="rePass" fullWidth
                        fieldSize="large" required>
                </div>
            </div>
        </div>
        <div class='row'>
            <p></p>
        </div>
        <div class='row'>
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label">Photo de profil:</label>
                    <br>
                    <!-- <div class="row" style="margin-bottom:15px;"> -->
                        <input type="file" #file placeholder="Choose file" (change)="SaveFile($event)" style="display:none;">
                        <button type="button" class="btn btn-success" (click)="file.click()"  >Télécharger une image</button>
                        <span class="upload" *ngIf="progress > 0 && progress != 100" >
                          {{progress}}%
                        </span>
                        <span class="upload" *ngIf="message">
                          {{message}}
                        </span>
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label" for="select-role">Rôle:</label><br>
                    <nb-select name="roles" placeholder="Choisissez une option" id="select-role"
                        [(ngModel)]="user.role" required>    
                        <nb-option value="Admin">Admin</nb-option>
                        <nb-option value="User">User</nb-option>
                    </nb-select>
                </div>
            </div>
        </div>

    </form>
    <div class="row"><p></p></div>
    <div class="row">
        <div class="col-6">
            <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted" (click)='AddEmployee()'>
            Ajouter Employe
            </button>
        </div>
        <div class="col-6">
            <button nbButton status="danger" size="large"
            fullWidth (click)='CancelAddEmployee()'>
               Annuler
           </button>
        </div>
    </div>
