<div *ngIf="Parents.length>0">
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Tel 1</th>
                <th>Tel 2</th>
                <th>Tel 3</th>
                <th>Adresse Email</th>
                <th>Convention</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Parent of ParentsAndConventions">
                <td>{{Parent.p.prenom}}</td>
                <td>{{Parent.p.nomDeFamille}}</td>
                <td>{{Parent.p.tel1}}</td>
                <td>{{Parent.p.tel2}}</td>
                <td>{{Parent.p.tel3}}</td>
                <td>{{Parent.p.adresseMail}}</td>
                <td>{{Parent.nameOfConvention}}</td>
                <td>
                    <button type='button' class='btn btn-success' (click)="EditParent(Parent.p.id)">
                    Editer</button>
                    <button type='button' class='btn btn-danger' (click)="DeleteEleveParent(Parent.p.id)">
                    Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div *ngFor="let Parent of Parents">
    <div class='row'>
        <div class="col-4" >
                <label class="label" for="input-prenom">Prénom:</label>
                <input nbInput
                [(ngModel)]="Parent.prenom"
                #prenom="ngModel"
                id="input-prenom"
                required
                disabled
                name="prenom" placeholder="Prénom" autofocus fullWidth fieldSize="large">
        </div>
        <div class="col-4">
            <div class="form-control-group">
                <label class="label" for="input-nom">Nom De Famille:</label>
                <input nbInput [(ngModel)]="Parent.nomDeFamille" id="input-nom" disabled
                    name="nomdefamille" placeholder="Nom De Famille" autofocus fullWidth fieldSize="large">
            </div>
        </div>
        <div class="col-4">
            <div class="form-control-group">
                <label class="label" for="input-tel1">Tel 1:</label>
                <input nbInput [(ngModel)]="Parent.tel1" id="input-tel1"
                    disabled name="tel1" autofocus fullWidth fieldSize="large">
            </div>
        </div>
    </div>
    <div class='row'>
        <p></p>
    </div>
    <div class='row'>
        <div class="col-4">
            <div class="form-control-group">
                <label class="label" for="input-tel2">Tel 2:</label>
                <input nbInput [(ngModel)]="Parent.tel2" id="input-tel2"
                    disabled name="tel2"  autofocus fullWidth fieldSize="large">
            </div>
        </div>
        <div class="col-4">
            <div class="form-control-group">
                <label class="label" for="input-adresseemail">Adresse Email:</label>
                <input nbInput [(ngModel)]="Parent.adresseMail" id="input-adresseemail"
                    disabled name="adresseemail" placeholder="Adresse Email" autofocus fullWidth fieldSize="large">
            </div>
        </div>
        <div class="col-4">
            <div class="form-control-group">
                <label class="label" for="select-convention">Convention:</label><br>
                <nb-select name="convention" id="select-convention" placeholder="Aucune Convention"
                    disabled [(ngModel)]="Parent.conventionId">    
                    <nb-option [value]=null>Aucune Convention</nb-option>
                    <nb-option [value]=1>Orange</nb-option>
                </nb-select>
            </div>
        </div>
    </div>
    <div class="row"><p></p></div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <button nbButton fullWidth status="success" size="large" (click)='EditParent(Parent.id)'>
                Edit
            </button>
        </div>
        <div class="col-3"></div>
    </div>
    <br>
    <br>
    <br>
</div> -->
<div class="row">
    <div class="col-6">
        <div class="row">
        <div class="col-8">
        <input type="text" id="myInput" autocomplete="off" (keyup)="ParentExistant()" placeholder="Parent Existant"[(ngModel)]="parentsearch">
        <div *ngIf="parentsearch">
            <ul id="myUL">
                <div *ngFor="let result of searchresult">
                    <div *ngIf="CheckParent(result)">
                        <li><button (click)="AddEleveParent(result.id,result.nomDeFamille,result.prenom)" >{{result.nomDeFamille}} {{result.prenom}}</button></li>
                    </div>
                </div>
            </ul>
        </div>
        </div>
        <div class="col-4">
            <button nbButton status="secondary" size="large" (click)='SubmitEleveParent()'>
                Valider
            </button>
        </div>
        </div>
    </div>
    <div class="col-6">
        <button nbButton status="info" size="large" (click)='AddParent()'>
            Ajouter
        </button>
    </div>
</div>