<form (ngSubmit)="UpdateParent()" #form="ngForm" aria-labelledby="title">
    <div class='row'>
        <div class="col-6" >
                <label class="label" for="input-prenom">Prénom:</label>
                <input nbInput
                [(ngModel)]="Parent.prenom"
                #prenom="ngModel"
                id="input-prenom"
                required
                name="prenom" placeholder="Prénom" autofocus fullWidth fieldSize="large">
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-nom">Nom De Famille:</label>
                <input nbInput [(ngModel)]="Parent.nomDeFamille" id="input-nom"
                    name="nomdefamille" placeholder="Nom De Famille" autofocus fullWidth fieldSize="large">
            </div>
        </div>
    </div>
    <div class='row'>
        <p></p>
    </div>
    <div class='row'>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-ncin">NCin:</label>
                <input nbInput [(ngModel)]="Parent.nCin" #ncin="ngModel" id="input-ncin"
                    name="ncin" placeholder="NCin" fullWidth fieldSize="large" required>
            </div>
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-profession">Profession:</label>
                <input nbInput [(ngModel)]="Parent.profession" #profession="ngModel" id="input-profession" name="profession"
                    placeholder="Profession" fullWidth fieldSize="large">
            </div>
        </div>
    </div>
    <div class='row'>
        <p></p>
    </div>
    <div class='row'>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-employeur">Employeur:</label>
                <input nbInput [(ngModel)]="Parent.employeur" #employeur="ngModel" id="input-employeur" name="employeur"
                    placeholder="Employeur" fullWidth fieldSize="large">
            </div>
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-matricule">Matricule:</label>
                <input nbInput [(ngModel)]="Parent.matricule" #matricule="ngModel" id="input-matricule" name="matricule"
                    placeholder="Matricule" fullWidth fieldSize="large">
            </div>
        </div>
    </div>
    <div class='row'>
        <p></p>
    </div>
    <div class='row'>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-teldomicile">Tel Domicile:</label>
                <input nbInput [(ngModel)]="Parent.telDomicile" 
                #teldomicile="ngModel" id="input-teldomicile" name="teldomicile"
                placeholder="Tel Domicile" fullWidth fieldSize="large">
            </div>
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-telportable">Tel Portable:</label>
                <input nbInput [(ngModel)]="Parent.telPortable" 
                #telportable="ngModel" id="input-telportable" name="telportable"
                placeholder="Tel Portable" fullWidth fieldSize="large">
            </div>
        </div>
    </div>
    <div class='row'>
        <p></p>
    </div>
    <div class='row'>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="input-adressemail">Adresse Email:</label>
                <input nbInput [(ngModel)]="Parent.adresseMail" 
                #adressemail="ngModel" id="input-adressemail" name="adressemail"
                placeholder="Adresse Email" fullWidth fieldSize="large">
            </div>
        </div>
        <div class="col-6">
            <div class="form-control-group">
                <label class="label" for="select-convention">Convention:</label><br>
                <nb-select name="convention" placeholder="Aucune Convention" id="select-convention"
                    [(ngModel)]="Parent.conventionId" > 
                    <nb-option [value]=null>Aucune Convention</nb-option>   
                    <nb-option [value]=1>Orange</nb-option>
                </nb-select>
            </div>
        </div>
    </div>
</form>
<div class="row"><p></p></div>
<div class="row">
    <div class="col-6">
        <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid"
            (click)='UpdateParent()'>
            Update Parent
        </button>
    </div>
    <div class="col-6">
        <button nbButton fullWidth status="danger" size="large"
        (click)='CancelEditParent()'>
        {{CheckForUpdate}}
    </button>
    </div>
</div>